@import '../base.scss';

$normal-font-size: 16px;
$mobile-font-size: 12px;
@mixin main-title($fontsize) {
    font-size: calc(#{$fontsize} + 2px);
    color: #000000;
    font-weight: bold;
}

.petprofile {

    .header {
        padding: 15px;
        @include main-title($normal-font-size);
    }

    .info {
        font-size: $normal-font-size;
        padding: 0 15px 15px 20px;
        font-weight: bold;
        line-height: 2em;

        .title {
            color: #a37e39;
        }

    }

    .ant-btn.savepet-button {
        background-color: $background-gray;
        font-weight: bold;
        color: white;
        margin-left: 6px;
        border-radius: 50px;
    }

    .ant-btn.deletepet-button {
        background-color: white;
        border-color: $background-gray;
        color: $background-gray;
        font-weight: bold;
        margin-left: 6px;
        border-radius: 50px;
    }
    
    .others {
        padding-top: 15px;

        .board {
            margin-top: 15px;
            background: #ffffff;
            padding: 15px;
            border-radius: 20px;
        }

    }

    .main-title {
        @include main-title($normal-font-size);
    }

    @mixin extendmobile($fontsize) {
        .header {
            @include main-title($fontsize);
        }
        .info {
            font-size: $fontsize;
            padding: 20px 0;
        }
        .main-title {
            @include main-title($fontsize);
        }
    }

    @include mobile {
        @include extendmobile($mobile-font-size);
    }

}
