@import '../_base.scss';

.have-pet-message {
    display: inline-block;
    text-align: center;
    font-size: initial;
    margin-top: 100px;
}

.draw-card-button {
    margin-bottom: 100px;
}

.start-draw-card {
    background: #131834;
    color: white;
}

.start-draw-card.ant-btn:hover,.ant-btn:focus {
    background-color: #fff;
    border-color:#131834;
    color:#131834;
}
