@import '../_base.scss';

.no-pet-message {
    margin: 100px 0;
    text-align: center;

    h4 {
        font-size: 20px;
        margin-bottom: 20px;

        @include mobile {
            font-size: 16px;
        }
    }
}

.go-add-pet {
    height: 32px;
    padding: 4px 16px;
    font-size: 14px;
    border-radius: 32px;
    background-color: #a37e39;
    color: white;
    font-weight: 500;
    border-color: #a37e39;
}