@import '../_base.scss';

.draw-card {
    justify-content: center;
    display: block;
    text-align: center;
}

.img {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dog, .cat {
    width: 5%;
}

.no-pet-message {
    display: inline-block;
    text-align: center;
    font-size: initial;
}

.go-add-pet {
    height: 32px;
    padding: 4px 16px;
    font-size: 14px;
    border-radius: 32px;
    background-color: #a37e39;
    color: white;
    font-weight: 500;
    border-color: #a37e39;
}