@import '../base.scss';

h4 {
    margin-top: 1%;
}

.result {
    width: 100%;  
}
.all {
    background: white;
    border-radius: 15px;
    width: 500px;
    padding: 30px;
    margin: 30px auto;

    @include mobile {
        padding: 14px;
        width: 100%;
    }
}
.pet-photo {
    max-width: 100%;
    max-height: 250px;
    margin: auto;
    display: block;
}

.pet-data {
    margin: 10px;
}

.row {
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0;
    width: 100%;
    align-items: flex-start;
}

.result-title {
    display: flex;
    padding: 2px 20px;
    background-color: #c7a974;
    border-radius: 10px;
    color:azure;
    margin-right: 8px;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    width: 90px;
}

.result-content {
    padding-left: 5px;
    word-break: break-all;
    width: calc(98% - 90px);
}

.again-button {
    margin: 10px;
    text-align: center;
}

.match-button {
    margin: 10px;
    text-align: center;
}

.result-button {
    padding: 5px 20px;
    background-color: #A37E39;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    color:white;

    &:hover, &:focus {
        background-color: #FFFFFF;
        color:#A37E39;
        border-color: #A37E39;
    }

}

.no-pet-data {
    font-weight: 500;
    font-size: 18px;
    margin: 100px auto;
}