@import "../base";

.discuss {
    .ant-card {
        width: 80%;
        margin: auto;
        border-radius: 15px 15px 0px 0px;
    }

    .ant-card-head{
        border-radius: 15px 15px 0px 0px;
        background-color: #131834;
        color: white;
    }

    .content {
        padding: 0px;
    }

    .no-comment {
        margin: auto;
        height: 20%;
        width: 80%;
        background-color: #fff;
        border-radius: 0px 0px 15px 15px;
        display: flex;
        justify-content: center;

        p {
            padding: 20px;
            font-size: 15px;
            font-weight: 500;
            display: inline-block;
            vertical-align: middle;
            margin: 0px

        }

        .anticon {
            font-size: 1.5em;
            display: inline-block;
            vertical-align: middle;
            padding-bottom: 4px;
            padding-right: 0px;
        }
    }

}
.input-response{
    border-radius: 15px;
}

.ant-btn.button-add-response{
    background-color: #131834;
    border-color: #131834;
    border-radius: 20px;
    color: white;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

.button-responsing{
    float: right;

    .ant-btn{
        background-color: #131834;
        border-color: #131834;
        border-radius: 20px;
        color: white;
        margin-top: 10px;
        margin-right: 10px;
    }
}

.ant-list {
    margin: auto;
    width: 80%;
    background-color: #fff;
    border-radius: 0px 0px 15px 15px;

    &-header {
        padding-left: 40px;
            color: $background-gray;
            font-weight: 500;
            margin-bottom: 30px;
            font-size:15px;
    }

    .ant-comment {
        padding-left: 40px;
        padding-right:40px;
        background-color: #fff;

        &-inner {
            padding:0%
        }

        &-content-author-name {
            font-size: 14px;
        }

        &-content-detail {
            font-size: 15px;
        }
    }

    .ant-avatar {
        background-color: $font-brown;
        &-string {
            font-size: 16px;
        }
    }

    .ant-divider-horizontal {
        width: 80%;
    }
}