.informaborder{
    margin-top:auto;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: auto;
    overflow: auto;
    white-space: nowrap;
}
.infor{
    width: 150px;
    margin: 15px;
    background-color: #eee1cc;
    display: inline-block;
}
.pic{
    width: 100px;
    height:40px;
}
.title{
    width: 60px;
    margin-left: 15px;
    border-radius: 25px;
    text-align:center;
    color:white;
    background-color: #B29059;
}