@import '../_base.scss';

.login-page{
    display: flex;
    background: #F5F2EB;
    color: #131834;
    align-content: center;
    
    @include pad{
        display: block;
    }
}

// only for /pages/loginemail
.left-container{
    flex: 1;
}

.right-container{
    flex: 1;
}