.header {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  justify-content: space-between;

  .logo {
    font-size: 20px;
  }

  .container {
    display: flex;
  }

  .ant-menu-horizontal {
    flex: 3;
  }

  .sub-container {
    flex: 1;
    margin-top: 8px;
  }
  
  @include mobile {
    display: block;

    .ant-menu-horizontal {
      display: flex;
      justify-content: space-around;
    }

    .logo {
      text-align: center;
      width: 100%;
    }
  }
}
