.header {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  justify-content: space-between;

  .logo {
    font-size: 20px;
  }

  @include mobile {
    display: block;

    .ant-menu-horizontal {
      display: flex;
      justify-content: space-around;
    }

    .logo {
      text-align: center;
      width: 100%;
    }
  }
}
