.header {
  padding: 12px 26px 0;

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      cursor: pointer;
      
      h1 {
        display: inline-block;
        margin-bottom: 0px;
        font-weight: 600;
      }

      img {
        width: 16px;
        margin-left: 6px;
        padding-bottom: 6px;
      }
    }

    .right-section {
      text-align: right;
      .ant-btn,
      .ant-btn:focus {
        padding: 0 16px;
        border-radius: 20px;
        border-color: $background-brown;
        background-color: $background-brown;
        color: white;
        font-weight: 600;

        &:hover {
          background-color: white;
          border-color: $background-brown;
          color: $font-brown;
        }
      }

      .welcome {
        padding-right: 10px;
      }

      .language {
        padding-right: 5px;
        padding-bottom: 5px;
      }
      
      .language-label {
        background-color: $page-background;
        font-size: 13px;
        &:hover {
          color: $background-brown;
          cursor: pointer;
        }
      }
    }
  }

  .ant-menu-horizontal {
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px solid $light-gray;
    background-color: $page-background;

    &:not(.ant-menu-dark) {
      > .ant-menu-item {
        width: calc(20% - 50px);
        text-align: center;

        .link {
          color: $background-gray;
          font-weight: bold;
        }

        &-selected,
        &:hover {
          border-bottom: 2px solid $background-brown;
        }
      }
    }
  }

  @include mobile {
    padding: 12px 0;

    &-top {
      padding: 0 26px;
    }

    .ant-menu-horizontal {
      padding: 6px 2px 0;
      line-height: 36px;

      &:not(.ant-menu-dark) {
        > .ant-menu-item {
          width: 19%;
          text-align: center;
          margin: 0;

          .link {
            font-weight: normal;
            font-size: 12px;
          }

          &-selected,
          &:hover {
            border-bottom: 2px solid $background-brown;
          }
        }
      }
    }
  }
}
