.pet-form{
    display: flex;
    justify-content: space-around;

    .ant-form{
        // width:47%;
        width: 30%;
    }
}
.ant-upload-picture-card-wrapper {
    display: inline-block;
    // width: 47%;
    width:30%;
}
.pet-input{
    width: 300px;
    margin:10px auto;
}
.pet-image > .ant-upload {
    width: 200px;
    height: 200px;
  }
.button{
    width:30%;
    margin:5px;
}
.click-button{
    border-radius: 20px;
    border-color: #A37E39;
    color: white;
    background-color: #A37E39;
    font-size: 15px;
    font-weight: 600;
}
.no-click-button{
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
}