@import '../base.scss';

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    word-wrap:break-word;
}
.all {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 15px;
    width: 50%;
    align-items: center;

    @include mobile {
        display:flex;
        width: 50%;
    }
}
.pet-photo {
    vertical-align: middle;
    border-style: none;
    width: 25%;
}

.pet-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;

    @include mobile {
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }
}

.row {
    display: inline-flex;
    font-size: 15px;
    font-weight: 600;
    padding: 5px;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80%;

    @include mobile {
        width: 80%;
        display: inline-flex;
    }
}

.result-title {
    display: flex;
    width: 30%;
    background-color: #c7a974;
    border-radius: 10px;
    color:azure;
    margin-left: 5px;
    justify-content: space-around;
    align-items: center;

    @include mobile {
        width: 50%;
    }
}

.result-content {
    padding-left: 5px;
    word-break: break-all;
    width: 50%;

    @include mobile {
        width: 40%;
    }
}

.again-button {
    padding: 10px;
}

.result-button {
    background-color: #A37E39;
    font-size: 17px;
    font-weight: 600;
    color:white;

}