@import '../base';

.member {
    width: 98%;
    margin: auto;
    
    .ant-tabs {
        overflow: visible;
        border: 1px solid $light-gray;
        border-radius: 10px;
        background-color: $light-brown;


        &-nav {
            border-bottom: 1px solid $light-gray;
        }

        &-tab {
            .ant-tabs-tab-btn {
                color: $background-gray;
                font-weight: bold;
            }

            &:hover {
                color: $font-brown;
            }

            &-active {
                .ant-tabs-tab-btn {
                    color: $font-brown;
                }
            }
        }

        &-content {
            min-height: 100px;
        }

        &-ink-bar {
            background-color: $font-brown;
        }
    }
}

@include mobile {
    .member {
        width: 100%;

        .ant-tabs {
            &-content {
                .card-block {
                    width: 96%;
                    margin: auto;
                }
            }
        }
    }
}