@import '../base.scss';

.adddiscuss {

    .row-input {
        margin-bottom: 15px;
    }

    .inputtitle {
        font-weight: bold;
    }

    .bottom {
        .col-buttons {
            text-align: right;

            button {
                margin-left: 10px;
                background-color: #000000;
                border-color: #000000;
                border-radius: 20px;
            }
        }
    }

}
